.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typeInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promptCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .promptCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-color: black;
  border-width: 2px;
  border-style: double;
  width: 55%;
} */

.prompt {
  padding-bottom: 5%;
}

/* ADJUST ALL BODY OF EVERY COMPONENET */
body {
  margin:0;
  padding:0
}

/* HEADER */

.HeaderContainer {
  display: flex;
  flex-direction: row;
  position:absolute;
  height: 50px;
  width: 100vw
}

.pokemonLogo {
  max-width: 90%;
  max-height: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.headerTopics {
  font-size: 9px;
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:8px
}

/* LANDING STYLES */
.landingBG {
  justify-content: ;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.containerBG {
  display: flex;
  justify-content: end;
  position: relative;
  background-image: url("./Assets/Page1/triangle.png");
  background-size:80%;
  background-repeat: no-repeat;
  height: 100vw;
}

.containerLanding {
  position: relative;
}

.generateBarRight{
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 5%;
  background-color: #282c34;
  position: absolute;
  writing-mode: vertical-lr;

}

.generateBarLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  writing-mode: vertical-lr;
  width: 10%;
  height: 100vh;
  position: absolute;
  left:0%

}

.centerPhotoContainer {
  display: block;
  position: relative;
  top: 50px
}

.centerPhoto {
  width: 90%;
}

/* NEWS COMPONENT */
.news {
  display: flex;
  width: 90%;
  padding-left: 10%;
}

.newsHeader {
  display: flex;
  padding-left: 10%;
  margin:0;
}

.singleNews {
  display: flex;
  flex-direction: row;
  height: 25px;
}

/* GENERATE BLOCK */

.generateHead{
  position: absolute;
  background-color: white;
  /* width: 100%; */
  height: 10vh;
}

.character {
  height: 75vh;
}

.characterContainer{
  display: flex;
  flex-direction: row;
}

.generateBlock{
  background-color: rgb(238, 238, 238);
  width: 100vw;
}

.conceptStuff{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.ecoHead {
  position: relative;
  font-size: 50px;
  text-align: start;
  padding-left: 15%;
  margin-bottom: 10px;
  margin-left: 0;
}

.ecoHead2 {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:2px;
  background-color: black;
  color: white;
  display: inline-block;
}

.ecoHead2container{
  margin: 0 auto;
  width: 80%;
  text-align: start;
}

.ecoParagraph{
  font-size: 14px;
  text-align: start
}

.ecoParagraphContainer{
  padding-top: 15px;
  width: 80%;
  margin: 0 auto;
}

.generateButtonContainer{
  margin: 0 auto;
  padding-top: 25px;
  text-align: left;
  width: 80%;
}

.generateButton{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(255, 236, 0);
  color: black;
  border-radius: 5%;
  border:none;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.generateButton:hover{
  background-color: rgb(230, 215, 1);
}

.generateButton:active{
  background-color: rgb(214, 200, 1);
  color: black
}

/* FOOTER */
.footerContainer{
  background-color: rgb(238, 238, 238);
  padding-top:10%;
  width:100vw;
}

.footer{
  width:100vw
}

/* HOME COMPONENTS */
.homeContainer{
  position: relative;
  width: 100vw;
}

.homeContainerBG {
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("./Assets/Page2/yellow.png");
  background-size:100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.typeKeywordHead{
  position: relative;
  margin: 0 auto;
}

.typeKeywordP{
  margin: 0 auto;
}

.homeHeaderContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 12%;
  height: 100vh;
  width: 80vw;
}

.keywordEntryContainer{
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  background-color: black;
  margin-top: 25%;
}

.keywordEntranceBar{
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:2px;
  color: white;
  display: inline-block;
}

.keywordInputContainer{
  padding-top: 25px;
}

.keywordInput{
  background-color: #efefef;
  color: #6b6969;
  border: none;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:2px;
  width: 65vw;
  text-align: center;
}

.keywordInput:focus {
  outline: none;
}

.elementSelectorContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-top: 10%;
}

.elementEntranceBar{
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin:2px;
  margin-bottom: 5%;
  color: white;
  background-color: black;
  display: inline-block;
}

.generateElementBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.generateElementTile{
  display: flex;
  width: 30%;
  border: solid #efefef 2px;
  margin: 5px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.generateElementTile:hover{
  background-color: #e6e6e6;
}

/* .generateElementTile:active{
  background-color: #cbcbcb;
} */

.generateElementTile.selected{
  background-color: #cbcbcb;
}

.generateButtonContainer{
  text-align: center;
  padding-bottom: 20px;
}

.generateScriptButton{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(255, 236, 0);
  color: black;
  border-radius: 1%;
  border:none;
  padding: 15px;
  width: 260px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.generateScriptButtonDisabled {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(222, 222, 222);
  color: black;
  border:none;
  padding: 15px;
  width: 260px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.generateScriptButton:not(:disabled):hover{
  background-color: rgb(237, 221, 0);
}

.generateScriptButton:active{
  background-color: rgb(202, 189, 0);
}

.footerContainer2{
  display: flex;
  padding-top:10%;
  width:100vw;
  transform: translateX(-10%);
}

.footer2{
  width:100vw;
  margin: 0 auto;
}

/* IMAGE UPLOAD */
.uploadContainerBG{
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("./Assets/Page2/yellow.png");
  background-size:100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.uploadHeaderContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 12%;
  height: 100vh;
  width: 80vw;
}

.typeUploadHead{
  position: relative;
  margin: 0 auto;
}

.typeUploadP{
  margin: 0 auto;
}

.uploadEntryContainer{
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  background-color: black;
  margin-top: 25%;
  margin-bottom: 10px;
}

.uploadEntranceBar{
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:2px;
  color: white;
  display: inline-block;
}

.uploadSelectorContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}

.promptCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #efefef;
  margin-top: 10px;
}

.promptCard:hover{
  background-color: #2873f6;
  color: white
}

.promptCard:active{
  background-color: #194ea3;
  color:white
}

.cardName{

}

.prompt{

}

.photoUploadContainer{
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}

.photouploadEntranceBar{
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin:2px;
  color: white;
  display: inline-block;
}

.photoInputForm{
  display: flex;
  flex-direction: column;
}

.custom-file-upload {
  display: flex;
  padding: 8px 20px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  border: solid #ccc 1px;
  cursor: pointer;
  height: 15vh;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.custom-file-upload:hover {
  background-color: #aaa;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.submitPhotoFileContainer{
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  text-align: left;
  width: 80%;
  justify-content: center;
}

.photoInputName{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(255, 236, 0);
  color: black;
  border-radius: 5%;
  border:none;
  padding: 10px;
  width: 300px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.photoInputNameDisabled{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(222, 222, 222);
  color: black;
  border-radius: 5%;
  border:none;
  padding: 10px;
  width: 300px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.footerContainer3{
  display: flex;
  padding-top:10%;
  width:100vw;
  transform: translateX(-10%);
}

.footer3{
  width:100vw;
  margin: 0 auto;
}

/* RENDER COMPONENT */

.renderPageContainer{
  height: 100vh;
}

.renderContainerBG{
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url("./Assets/Page4/background.png");
  background-size:100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.renderNavbarContainer {
  display: flex;
  flex-direction: row;
  position:absolute;
  height: 50px;
  width: 100vw
}

.renderHeaderTopics {
  font-size: 9px;
  border-right: 1px solid rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
  padding-top:8px;
  color: white;
  position: static;
}

.renderBodyContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 12%;
  width: 80vw;
}

.renderHeaderContainer{
  display: flex;
  flex-direction: column;
}

.renderh1{
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 50px;
}

.renderh2{
  background-color: #141414;
  color: white;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;

}

.renderCardContainer{
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  align-items: center;
}

.renderCard{
  height: 35vh;
}

.renderNavButtons{
  align-items: center;
}